@model IEnumerable<TheWorld.Models.Trip>

@{ 
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to The World</h1>
        <p>Some blurb goes here...</p>
        <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-success">View Trips</a>
    </div>
</div>